/* Tailwind v4 entrypoint (CSS-first) */
@import "tailwindcss";

@import "../css/color-variables.css";
@import "../css/bg-variables.css";
@import "../css/fg-variables.css";
@import "../css/border-variables.css";
@import "../css/text-variables.css";

@source "../../**/*.{ts,tsx}";
