/* IMPORTANT: Contact your design team if you need root color!!! */
/* _Primitives */
@theme {
  /* Base Colors */
  --color-base-black: #000000;
  --color-base-transparent: #ffffff00;
  --color-base-white: #ffffff;

  /* Brand Colors */
  --color-brand-25: #f5f9ff;
  --color-brand-50: #eef5ff;
  --color-brand-100: #dbeafe;
  --color-brand-200: #bfdbfe;
  --color-brand-300: #93c5fd;
  --color-brand-400: #60a5fa;
  --color-brand-500: #3b82f6;
  --color-brand-600: #2563eb;
  --color-brand-700: #1d4ed8;
  --color-brand-800: #1e40af;
  --color-brand-900: #1e3a8a;
  --color-brand-950: #0b1f4d;

  /* Secondary Colors */
  --color-secondary-25: #f8fafc;
  --color-secondary-50: #f1f5f9;
  --color-secondary-100: #e2e8f0;
  --color-secondary-200: #cbd5e1;
  --color-secondary-300: #94a3b8;
  --color-secondary-400: #64748b;
  --color-secondary-500: #475569;
  --color-secondary-600: #334155;
  --color-secondary-700: #1f2937;
  --color-secondary-800: #111827;
  --color-secondary-900: #0b1220;
  --color-secondary-950: #050914;

  /* Gray Dark Mode Alpha Colors */
  --color-gray-dark-alpha-25: #fffffffa;
  --color-gray-dark-alpha-50: #fffffff5;
  --color-gray-dark-alpha-100: #fffffff0;
  --color-gray-dark-alpha-200: #ffffffeb;
  --color-gray-dark-alpha-300: #ffffffcc;
  --color-gray-dark-alpha-400: #ffffff8f;
  --color-gray-dark-alpha-500: #ffffff80;
  --color-gray-dark-alpha-600: #ffffff59;
  --color-gray-dark-alpha-700: #ffffff29;
  --color-gray-dark-alpha-800: #ffffff14;
  --color-gray-dark-alpha-900: #ffffff0a;
  --color-gray-dark-alpha-950: #ffffff00;

  /* Gray Dark Mode Colors */
  --color-gray-dark-25: #fafafa;
  --color-gray-dark-50: #f5f5f6;
  --color-gray-dark-100: #f0f1f1;
  --color-gray-dark-200: #ececed;
  --color-gray-dark-300: #cecfd2;
  --color-gray-dark-400: #94969c;
  --color-gray-dark-500: #85888e;
  --color-gray-dark-600: #61646c;
  --color-gray-dark-700: #333741;
  --color-gray-dark-800: #1f242f;
  --color-gray-dark-900: #161b26;
  --color-gray-dark-950: #0c111d;

  /* Gray Light Mode Colors */
  --color-gray-light-25: #fcfcfd;
  --color-gray-light-50: #f9fafb;
  --color-gray-light-100: #f2f4f7;
  --color-gray-light-200: #e4e7ec;
  --color-gray-light-300: #d0d5dd;
  --color-gray-light-400: #98a2b3;
  --color-gray-light-500: #667085;
  --color-gray-light-600: #475467;
  --color-gray-light-700: #344054;
  --color-gray-light-800: #182230;
  --color-gray-light-900: #101828;
  --color-gray-light-950: #0c111d;

  /* Success Colors */
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #dcfae6;
  --color-success-200: #abefc6;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #17b26a;
  --color-success-600: #079455;
  --color-success-700: #067647;
  --color-success-800: #085d3a;
  --color-success-900: #074d31;
  --color-success-950: #053321;

  /* Error Colors */
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;

  /* Warning Colors */
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;

  --color-gray-light-mode-25: var(--color-gray-light-25);
  --color-gray-light-mode-50: var(--color-gray-light-50);
  --color-gray-light-mode-100: var(--color-gray-light-100);
  --color-gray-light-mode-200: var(--color-gray-light-200);
  --color-gray-light-mode-300: var(--color-gray-light-300);
  --color-gray-light-mode-400: var(--color-gray-light-400);
  --color-gray-light-mode-500: var(--color-gray-light-500);
  --color-gray-light-mode-600: var(--color-gray-light-600);
  --color-gray-light-mode-700: var(--color-gray-light-700);
  --color-gray-light-mode-800: var(--color-gray-light-800);
  --color-gray-light-mode-900: var(--color-gray-light-900);
  --color-gray-light-mode-950: var(--color-gray-light-950);

  --color-gray-dark-mode-25: var(--color-gray-dark-25);
  --color-gray-dark-mode-50: var(--color-gray-dark-50);
  --color-gray-dark-mode-100: var(--color-gray-dark-100);
  --color-gray-dark-mode-200: var(--color-gray-dark-200);
  --color-gray-dark-mode-300: var(--color-gray-dark-300);
  --color-gray-dark-mode-400: var(--color-gray-dark-400);
  --color-gray-dark-mode-500: var(--color-gray-dark-500);
  --color-gray-dark-mode-600: var(--color-gray-dark-600);
  --color-gray-dark-mode-700: var(--color-gray-dark-700);
  --color-gray-dark-mode-800: var(--color-gray-dark-800);
  --color-gray-dark-mode-900: var(--color-gray-dark-900);
  --color-gray-dark-mode-950: var(--color-gray-dark-950);

  --color-gray-dark-alpha-mode-25: var(--color-gray-dark-alpha-25);
  --color-gray-dark-alpha-mode-50: var(--color-gray-dark-alpha-50);
  --color-gray-dark-alpha-mode-100: var(--color-gray-dark-alpha-100);
  --color-gray-dark-alpha-mode-200: var(--color-gray-dark-alpha-200);
  --color-gray-dark-alpha-mode-300: var(--color-gray-dark-alpha-300);
  --color-gray-dark-alpha-mode-400: var(--color-gray-dark-alpha-400);
  --color-gray-dark-alpha-mode-500: var(--color-gray-dark-alpha-500);
  --color-gray-dark-alpha-mode-600: var(--color-gray-dark-alpha-600);
  --color-gray-dark-alpha-mode-700: var(--color-gray-dark-alpha-700);
  --color-gray-dark-alpha-mode-800: var(--color-gray-dark-alpha-800);
  --color-gray-dark-alpha-mode-900: var(--color-gray-dark-alpha-900);
  --color-gray-dark-alpha-mode-950: var(--color-gray-dark-alpha-950);
}
